body{
  display: flex;
  flex-direction: column;
  padding: 0px;
  color: #586058;
  //586058
    //B8DC8A
  //E4E9DE
  background: #E4E9DE;
}
.banner{
  background-image: url("../../../src/assets/aboutklinik.png");
  height: 400px;
  background-size: cover;
  background-position: top;

}

.profilepng{
  max-width: 300px
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin:auto;
}
.divrow{
  display: flex;
  flex-wrap: wrap;
  margin: 3px;


}
a{
  color: #586058;
}

.txtCol{
  margin-left: 0px;
  width: 45%;

}
.welcome{
  flex-direction: column;
  display: flex;
  align-items: center;
  margin: 15px;
  text-align: center;
  padding-bottom: 200px;
}


@media(max-width: 568px){
  .txtCol{
    width: 100%;
    margin-top: 5px;
  }


}

@media(max-width: 880px){


}
