<body>
<div class="banner"></div>
<div class="welcome">
<img class="profilepng" src="assets/jesper.png" style="height: 400px; width: 350px">
  <h2 >

    Jesper Østergaard<br>
    I mødet med Jesper møder du alvor, tillid og stor ro.<br>
    Den store faglighed er grundlaget for Jespers tilgang <br>
    til dit behandlingsforløb og fysioterapi i sin helhed.<br>
    Således at Jespers forståelse af kroppens egenskaber <br>
    og sammenhæng vil klarlægge årsagen til din problematik <br>
    og hjælpe dig mod en bedre dagligdag.


  </h2>

</div>
<div class="container">
<div class="divrow">
  <h2 class="txtCol">
    <h1>Kontakt:<br></h1>

    Tlf: 40179301<br>
    Mail: <a class="txtCol" href="mailto:FysioPerformance@outlook.dk">FysioPerformance@outlook.dk</a>  <br>
    Adresse:
    Godfredsvej 4,<br>
    5200 Odense V<br>
  </h2>
  <h2 class="txtCol">
    <h1>TILSKUD FRA SYGESIKRING</h1>
    Da klinikken ikke har overenskomst med sygesikringen,<br>
    ydes der ikke tilskud fra den offentlige sygesikring.<br>
  </h2>
</div>

<div class="divrow">
  <h2 class="txtCol">
    <h1>BETALING:<br></h1>
    Betaling afregnes på behandlingsdagen<br>
    og der afregnes med kontanter på beløbet eller mobilepay<br>
    <h1>AFBUDSPOLITIK:<br></h1>
    Senest kl. 08:00 på behandlingsdagen hvis behandlingen er efter kl 10:00,<br>
    eller senest 2 timer inden behandlingen før kl 10:00.<br>
    Afbud kan indtales på telefonsvarer, man kan sende en mail ”MAILADRESSE”<br>
    eller man kan 48 timer før behandlingen selv afmelde sin tid via hjemmesidens bookingsystem.<br>
    Ved for sent afbud opkræves 50% af honorar, og ved udeblivelse 100% af honorar.<br>
  </h2>
  <h2 class="txtCol">
    <h1>parkering:<br></h1>

    Der er gratis parkering ude foran klinikken
  </h2>

</div>

<div class="divrow">
  <h2 class="txtCol">
    <h1>MEDBRING:<br></h1>
    Husk at medbringe træningstøj i form af shorts,<br>
    tights, t-shirt eller en top. Og til fysioterapi <br>
    eller akupunktur skal du medbringe et badehåndklæde eller lagen,<br>
    til at dække briksen.
  </h2>
  <h2 class="txtCol">
    <h1>PERSONDATA:<br></h1>

    ”link til ekstern side med dataloven”
  </h2>

</div>
</div>




</body>
