<body>
<!--<div class="headder" >{{selectedTreatment.name}}</div>
<div class="info1"> {{selectedTreatment.info1}}</div>
<div class="infobox">
  <div class="info2"> {{selectedTreatment.info2}}</div>
  <div class="info3"> {{selectedTreatment.info3}}</div>
</div>-->

<div *ngIf="selectedTreatment.name === 'Fysioterpeutisk massage'">
  <h1>
    Fysioterapeutisk massage:
    Det gavner dit velvære og øger kroppens cirkulation at få massage. Massagen hos FysioPerformance udføres altid af en fysioterapeut, således kan det samtidig vurderes om en anden behandling vil gavne din situation.

    I en hverdag med fart på med arbejde, sport, skole og hvad dagen ellers bringer af gøremål, kan din krop spænde op og være i et forstadie til en eventuel problematik.

    Fysiomassage kan med fordel kombineres med et genoptræningsforløb.

  </h1>
</div>

<div *ngIf="selectedTreatment.name === 'Sport og performance optimering'">
  <div class="banner_optimering">
  </div>
  <h1>
    Fysioterapeutisk massage:
    Det gavner dit velvære og øger kroppens cirkulation at få massage. Massagen hos FysioPerformance udføres altid af en fysioterapeut, således kan det samtidig vurderes om en anden behandling vil gavne din situation.

    I en hverdag med fart på med arbejde, sport, skole og hvad dagen ellers bringer af gøremål, kan din krop spænde op og være i et forstadie til en eventuel problematik.

    Fysiomassage kan med fordel kombineres med et genoptræningsforløb.

  </h1>
</div>
</body>
