<body>
<!--<div class="headder" >{{selectedTreatment.name}}</div>
<div class="info1"> {{selectedTreatment.info1}}</div>
<div class="infobox">
  <div class="info2"> {{selectedTreatment.info2}}</div>
  <div class="info3"> {{selectedTreatment.info3}}</div>
</div>-->

<div *ngIf="selectedTreatment.name === 'Fysioterpeutisk massage'">
  <h1>
    Fysioterapeutisk massage:
    Det gavner dit velvære og øger kroppens cirkulation at få massage. Massagen hos FysioPerformance udføres altid af en fysioterapeut, således kan det samtidig vurderes om en anden behandling vil gavne din situation.

    I en hverdag med fart på med arbejde, sport, skole og hvad dagen ellers bringer af gøremål, kan din krop spænde op og være i et forstadie til en eventuel problematik.

    Fysiomassage kan med fordel kombineres med et genoptræningsforløb.

  </h1>
</div>

<div *ngIf="selectedTreatment.name === 'Sport og performance optimering'">
  <div class="banner_optimering">
  </div>
  <h1>
    Fysioterapeutisk massage:
    Det gavner dit velvære og øger kroppens cirkulation at få massage. Massagen hos FysioPerformance udføres altid af en fysioterapeut, således kan det samtidig vurderes om en anden behandling vil gavne din situation.

    I en hverdag med fart på med arbejde, sport, skole og hvad dagen ellers bringer af gøremål, kan din krop spænde op og være i et forstadie til en eventuel problematik.

    Fysiomassage kan med fordel kombineres med et genoptræningsforløb.

  </h1>
</div>



<div  *ngIf="selectedTreatment.name === 'Tilrettelæggelse af træningsprogram'">
  <div class="banner_tilret">
  </div>
  <div class="divrow" >
  <h1 class="txtCol">
    Tilrettelæggelse af træningsprogram:
  </h1>
  <h2 class="txtCol">
    Ønsker du et forløb og et træningsprogram der er specielt designet til dig, din sport eller din dagligdag?

    Hos FysioPerformance har vi stor erfaring med at tilrettelægge træningsprogrammer, der tager udgangspunkt i den enkelte og dennes mål, ligesom vi, med vores fysioterapeutiske faglighed, vil kunne tage højde for evt. skavanker og skadeshistorik i vores planlægning af dit træningsprogram.

    Forud for en programlægning afholdes altid en indledende samtale, der tager udgangspunkt i dig og dine mål, samt en gensidig dialog omkring, hvad FysioPerformance kan tilbyde dig i jagten på at nå dit mål. I forlængelse heraf, laves en startscreening af din nuværende fysiske tilstand, der har til formål at gives os et indblik i din fysiske tilstand, således vi kan tilrettelægge træningen på bedste vis for dig.

    Et forløb med tilrettelæggelse af træningsprogram er for dig, som er i stand til at strukturere din egen træning, da selve træningen foregår på egen hånd i dit træningscenter eller derhjemme. Du vil dog, i forbindelse med programlægningen, skulle møde ind til en gennemgang, hvor vi gennemgår øvelserne, således vi sammen sikrer os, at du er klædt på til at udføre øvelserne på egen hånd.

    Programmerne laves således, at de er af 6 ugers varighed pr. program.
  </h2>
    <button class="mat-button" (click)="$event" > Book Nu </button>
  </div>
</div>

</body>
