<body>
<div class="banner">
</div>
<div class="divrow">
  <h1 class="txtCol">
     Jesper, der er stifter af FysioPerformance, har gennem årene samarbejdet med en lang række af sportsklubber og idrætsforbund. Derudover har individuelle sportsudøvere også haft deres behandlingsforløb og træningsforløb på klinikken.
    Fokuspunkterne har både ligget på at varetage skadesforebyggende forløb, skadesbehandling og genoptræning, samt at tilrettelægge og stå for den fysiske træning.

    Sportsgrenene spænder indenfor en bred vifte fra Basketball til Orienteringsløbere - og vores fokus ændres ikke selvom du er eliteudøver - slutproduktet skal fortsat være at hjælpe dig som udøver eller holdet, til at styrketræne med kvalitet, minimere risikoen for skader. Eller hvis skaden er sket, at gennemfører en genoptræning der tilgodeser den enkeltes behov, for at denne kommer retur med fornyet energi.

  </h1>

  <div class="logo">
    <img   src="assets/elite_logosv2.png">
  </div>
  <div class="soloLogo">
    <img class="img_solo"  src="assets/elitelog1.png">
  </div>
  <div class="soloLogo">
    <img class="img_solo"  src="assets/elitelog2.png">
  </div>
  <div class="soloLogo">
    <img class="img_solo"  src="assets/elitelog3.png">
  </div>
  <div class="soloLogo">
    <img class="img_solo"  src="assets/elitelog4.png">
  </div>
  <div class="soloLogo">
    <img  class="img_solo" src="assets/elitelog5.png">
  </div>
  <div class="soloLogo">
    <img class="img_solo" src="assets/elitelog6.png">
  </div>

</div>


</body>
