<body>
<div class="banner"></div>

<div class="divrow">
  <h1>Bauerfeind bandager</h1>
  <h2 class="txtCol">Du kan hos FysioPerformance finde et af verdens bedste mærker indenfor bandager, der kan støtte både din led og muskler og på den måde hjælpe dig med at nedsætte smerter eller øge dit udgangspunkt for at præstere. </h2>
</div>
<div class="png2"></div>

<div class="divrow">
  <div class="certficate">
  <h2 class="txtCol"> Hos FysioPerformance forhandles der bandager og kompressionssokker fra Bauerfeind.
    Du har måske allerede set flere sportsstjerner iført Bauerfeinds bandager, specielt deres knæbandager ses på flere håndboldspillere.
    Bauerfeind er et af verdens førende produkter i bandager, både til sport og hverdag, og ikke kun til knæ.
    Der er bandager for både ankel, lænd, skulder og meget mere, der kan støtte dig i din dagligdag.
    Så døjer du med en muskel eller ledskade - ny som gammel. Så tag kontakt til os og sammen finder vi den bandage der vil kunne hjælpe med at nedsætte smerten og skabe større glæde for dig.

    Udover bandagerne, fører FysioPerformance også Bauerfeinds kompressionssokker og sleeves der kan hjælpe med støtte til musklerne og blodgennemstrømningen og dermed optimere din præstation eller blot hjælpe din krops cirkulation.
    Dette kan hjælpe med at finde de ekstra procenter i din muskelaktivering eller hjælpe kroppens venepumpe funktion etc. efter en blodprop.
  </h2>

  </div>


</div>
<div class="png1"></div>

<div class="divrow">
  <h1>Leje af Globus Winshot 1500 boldkanon:</h1>
  <h2 class="txtCol">FysioPerformance udlejer Globus Winshot boldkanon til håndboldklubber.
    Den er specielt velegnet til målvogtertræning, hvor der kan skydes præcist og i stor mængde uden skytter. På den måde kan kvaliteten for klubbens målvogtere øges.
    Den er dog ikke kun for målvogterne. Den kan ligeledes bruges til at øve løbebaner i kontraen, hvor udkastene vil komme samme sted hver gang, og markspilleren dermed kan øve timingen i sit løb, hurtig opgiverkast m.m.

    Boldkanon udlejes i varierende perioder både på dagsbasis til en hel sæson.
    Kontakt på mail ”MAILADRESSE” for yderligere information  </h2>
</div>
<div class="png3"></div>
</body>
