<body>
<div class="banner"></div>
<div class="divrow">
  <h1 class="txtCol">
    Priser
  </h1>
  <h2 class="txtCol">
    Afbud skal meldes senset dagen før. afbud senere end dette eller evt. udblivelse, vil blive opkrævet honorar på 500DKK ved aftalt konsultation på 60min og 300DKK ved aftale konsulation på 30 min.
  </h2>
  <h1 class="txtCol">
    Første gang du kommer!
  </h1>
  <h2 class="txtCol">
    for at vi kan komme godt fra start er det vigtig at du booker en 1. konsulation når du finder tid via vores online booking system.
    er du i tvivl om hvilken behandling der vil være det beste match i forhold til de gener eller mål du har, så ring til os på 40179301
  </h2>
</div>

<table>
  <tr>
   <th>Behandling:</th>
    <th>Type</th>
   <th>Tid</th>
    <th>Price</th>

  </tr>
<!--   fysterpi -->
  <tr>
    <td>Fysioterapi</td>
    <td>1.konsulation</td>
    <td>60Min</td>
    <td>550kr</td>
  </tr>
  <tr>
    <td>Fysioterapi</td>
    <td>normal konsulation</td>
    <td>30Min</td>
    <td>300kr</td>
  </tr>
<!--akupunktur-->
  <tr>
    <td>akupunktur</td>
    <td>1.konsulation</td>
    <td>60Min</td>
    <td>550kr</td>
  </tr>
  <tr>
    <td>akupunktur</td>
    <td>normal konsulation</td>
    <td>30Min</td>
    <td>300kr</td>
  </tr>
<!--træning-->
  <tr>
    <td>træning</td>
    <td>præstationsoptimerende træning</td>
    <td>60Min</td>
    <td>450kr</td>
  </tr>
  <tr>
    <td>træning</td>
    <td>Træningspakke(10x træning)</td>
    <td>60Min x 10</td>
    <td>4000kr</td>
  </tr>
  <tr>
    <td>træning</td>
    <td>Tilrettelæggelse af træningsprogram</td>
    <td>60Min</td>
    <td>600kr</td>
  </tr>
  <tr>
    <td>træning</td>
    <td>Opfølgning på træningsprogram</td>
    <td>45Min</td>
    <td>450kr</td>
  </tr>
<!--sport og optimering-->
  <tr>
    <td>Sport & Performance optimering</td>
    <td>Test af kroppens fysiologi og tilrettelæggelse af træningsprogram</td>
    <td>ubestemt</td>
    <td>1000kr</td>
  </tr>
  <tr>
    <td>Sport & Performance optimering</td>
    <td>retest og justering af træningsprogram</td>
    <td>ubestemt</td>
    <td>800kr</td>
  </tr>
  <tr>
    <td>Sport & Performance optimering</td>
    <td>test af kroppens fysiologi, tilrettelæggelse af træningsprogram og 10x træning</td>
    <td>ubestemt</td>
    <td>4800kr</td>
  </tr>
<!--  fysioterapeutisk massage-->
  <tr>
    <td>fysioterapeutisk massage</td>
    <td>fysioterapeutisk massage</td>
    <td>30Min</td>
    <td>300kr</td>
  </tr>
</table>

<div class="tablerow">
 <img class="tablepng" src="assets/pricelistv4.png">
</div>

</body>
