
<body>
<div class="stepper">
  <mat-vertical-stepper >
    <mat-step  #stepperOne label="vælge behandling" [completed] = true>
      <div class="step">
      <button class="mat-button" matStepperNext (click)="selectedTreatment('helhedsorienteret')" >Helhedsorienteret fysioterapi</button>
      </div>
      <div class="step">
        <button class="mat-button" matStepperNext (click)="selectedTreatment('akupunktur')" > Akupunktur </button>
      </div>
      <div class="step">
        <button class="mat-button" matStepperNext (click)="selectedTreatment('massage')">Fysioterapeutisk massage</button>
      </div>
      <div class="step">
        <button class="mat-button" matStepperNext (click)="selectedTreatment('træningsprogram')" >Tilrettelæggelse af træningsprogram</button>
      </div>
      <div class="step">
        <button class="mat-button" matStepperNext (click)="selectedTreatment('optimering')" >Sport og performance optimering</button>
      </div>
    </mat-step>

    <!-- step 2 with if statemnts depending on selected treatment -->
    <mat-step label="valg af længte" [completed] = stepTwo>

      <div *ngIf="selectetTreatment === ''" >
        <h1>vlæge en behandling for at se længte</h1>
      </div>

     <div *ngIf="selectetTreatment === 'massage' ">
       <div class="step">
         <button class="mat-button" matStepperNext (click)="selectedDuration(60)" > førstegang behandling 60 min </button>
       </div>
       <div class="step">
         <button class="mat-button"  matStepperNext (click)="selectedDuration(30)" >opfylnings behandling 30 min</button>
       </div>
       <div class="step">
         <button class="mat-button" matStepperNext (click)="selectedDuration(60)" > flere område behandling 60 min </button>
       </div>
     </div>


      <div *ngIf="selectetTreatment === 'helhedsorienteret' ">
        <div class="step">
          <button class="mat-button" matStepperNext (click)="selectedDuration(60)" > behandling 60 min </button>
        </div>

      </div>

      <div *ngIf="selectetTreatment === 'akupunktur'">
        <div class="step">
          <button class="mat-button" matStepperNext (click)="selectedDuration(60)" > førstegang behandling 60 min </button>
        </div>
        <div class="step">
          <button class="mat-button" matStepperNext (click)="selectedDuration(30)" >opfylnings behandling 30 min</button>
        </div>
      </div>

      <div *ngIf="selectetTreatment === 'træningsprogram'">
        <div class="step">
          <button class="mat-button" matStepperNext (click)="selectedDuration(60)" > justerings tid 60 min </button>
        </div>
      </div>

      <div *ngIf="selectetTreatment === 'optimering'">
        <div class="step">
          <button class="mat-button" matStepperNext (click)="selectedDuration(60)" > optimerings tid 60 min </button>
        </div>
      </div>

    </mat-step>



    <!-- step 3 booking calender and times -->
    <mat-step  label="vælge dag"  [completed] = stepThree >

      <div *ngIf="selectetDuration != 1; else choseDuration " class="container">
        <div  class="col">
        <mat-card >
          <mat-calendar (selectedChange)="postSelectedDate($event)"></mat-calendar>
        </mat-card>
       </div>
        <div *ngIf="availableTimesOnDateSelected$ | async as availableTimesOnDateSelected" class="col">
        <mat-card *ngFor="let item of availableTimesOnDateSelected" class="timeSlot"  >
          <button class="mat-button" matStepperNext (click)="bookTime(item)">{{item}}</button>
        </mat-card>
          <p>Selected date: {{selected}}</p>
        </div>

      </div>
      <ng-template #choseDuration>
        <h1>
          valge en længde af tid før en dag kan vælges
        </h1>
      </ng-template>
    </mat-step>



    <mat-step label="udfyld fomelar">
      <div *ngIf="stepThree === true; else fomelar ">
      <h4>valdt dag: {{selected}}</h4>
      <h4>vladt tid: {{selectedTime}} </h4>
      <h4>valdt service: {{selectetTreatment}} </h4>


      <div  class="inputForm">
      <mat-form-field appearance="fill">
        <mat-label >Email Adrasse</mat-label>
        <input matInput [formControl]="Email" >
      </mat-form-field>
      <mat-form-field  appearance="fill">
        <mat-label  >Telefon Nummer</mat-label>
        <input matInput [formControl]="phone" >
      </mat-form-field>
      <mat-form-field  appearance="fill">
        <mat-label  >Adrasse</mat-label>
        <input  matInput  [formControl]="address">
      </mat-form-field>
      <mat-form-field  appearance="fill">
        <mat-label>By</mat-label>
        <input matInput [formControl]="city">
      </mat-form-field>
      <mat-form-field  appearance="fill">
        <mat-label>PostNummer</mat-label>
        <input matInput [formControl]="postcode">
      </mat-form-field>
      <mat-form-field  appearance="fill">
        <mat-label>Notater til behandling</mat-label>
        <input matInput [formControl]="notes">
      </mat-form-field>
      </div>
      <button (click)="postBooking()">postBooking</button>
      </div>

      <ng-template #fomelar>
        <h1>vælge en dag før du kan udfylde din bookning</h1>
      </ng-template>
    </mat-step>
  </mat-vertical-stepper>





</div>


<!-- ALan's delete test button - Final version needs user to input date, time, email and phone-->
<button (click)="deleteBooking()">deleteBooking</button>


<!--
<div *ngIf="!socketId"
     class="warn-text-colour"
     style="font-family: cursive"
     style="font-size: 14px">
  connecting...  {{socketId}}
</div>
-->

</body>

